.top-toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;
  align-items: center;
  background-color: var(--rose-background);
}

.sidenav-container-Pension-Basics,
.sidenav-container-Advanced-Topics,
.sidenav-container-Calculators {
  height: 100vh;
  background-color: var(--rose-background);
}

.mat-sidenav {
  width: fit-content; // Fixed width for sidenav
  background-color: var(--rose-background);
  color: var(--rose-text);
}
